name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.100-preview.7.24407.12
    - name: Add Github NuGet source
      run: dotnet nuget update source --username aromaa --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text github-aromaa
    - name: Restore dependencies
      run: dotnet restore /p:EnableWindowsTargeting=true
    - name: Build
      run: dotnet build --no-restore /p:EnforceCodeStyleInBuild=true /p:EnableWindowsTargeting=true
    - name: Test
      run: dotnet test --no-build --verbosity normal
